{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Parse dataset{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>Existing tables</h3>

<!-- This div will hold the response message -->
<div id="response"></div>

{% if summary %}
    <h3>Summary Table</h3>
    <table>
        <thead>
            <tr>
                {% for column in summary.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in summary.iterrows() %}
                <tr>
                    {% for value in row[1] %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<form id="parseConfig" action="/db/parse_tracklines" method="post">
    <label for="max_time">Max Time:</label>
    <input type="text" name="max_time" id="max_time">

    <label for="max_delta_t">Max Delta T:</label>
    <input type="text" name="max_delta_t" id="max_delta_t">

    <label for="min_duration">Min Duration:</label>
    <input type="text" name="min_duration" id="min_duration">

    <input type="submit" value="Submit">
</form>


<script>
document.getElementById('parseConfig').addEventListener('submit', function(event) {
    event.preventDefault();

    var formData = new FormData(event.target);
    fetch(event.target.action, {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById('response').textContent = JSON.stringify(data);
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
</script>

{% endblock %}